<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/base :: head"></head>
<body>
<nav th:replace="common/base :: navbar('job')"></nav>
<form action="#"
      th:action="@{/job/process}"
      method="post">
    <input type="hidden" th:field="*{job.id}"/>


    Name: <input type="text" th:field="*{job.name}"/>
    <span th:if="${#fields.hasErrors('job.name')}"
          th:errors="*{job.name}"></span><br/>

    Organization: <input type="text" th:field="*{job.organization}"/>
    <span th:if="${#fields.hasErrors('job.organization')}"
          th:errors="*{job.organization}"></span><br/>


    Required Skill<br />
    <input type="hidden" th:field="*{skill.id}"/>

    Title: <input type="text" th:field="*{skill.title}"/>
    <span th:if="${#fields.hasErrors('skill.title')}"
          th:errors="*{title}"></span><br/>

    Rating<br/>
    Beginner <input type="radio" th:field="*{skill.rating}" value="beginner"/>
    Intermediate <input type="radio" th:field="*{skill.rating}" value="intermediate"/>
    Proficient <input type="radio" th:field="*{skill.rating}" value="proficient"/><br/>


    <br/>
    <input type="submit" value="Submit"/>


</form>
<div th:replace="common/base :: jslinks"></div>

</body>
</html>