<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="common/base :: head"></head>
<body>
<nav th:replace="common/base :: navbar('job')"></nav>

<h2>Job</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Organization</th>
    </tr>
    <tr th:each="job : ${jobs}">
        <td th:text="${job.name}"></td>
        <td th:text="${job.organization}"></td>
        <td >
            <a sec:authorize="hasAuthority('RECRUITER')" th:href="@{/job/update/{id}(id=${job.id})}">Update</a> -
            <a sec:authorize="hasAuthority('RECRUITER')" th:href="@{/job/delete/{id}(id=${job.id})}">Delete</a> -
            <a th:href="@{/job/detail/{id}(id=${job.id})}">Detail</a>
        </td>

    </tr>
    <a sec:authorize="hasAuthority('RECRUITER')" th:href="@{/job/add}">Create</a> -
    <a th:href="@{/job/search}">Search</a>
</table>
<div th:replace="common/base :: jslinks"></div>
</body>
</html>