<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/base :: head"></head>
<body>
<nav th:replace="common/base :: navbar('contact')"></nav>
<h2>Contact</h2>
<div th:if="${contact != null}">
    <div th:text="${contact.name}"></div>
    <div th:text="${contact.email}"></div>
    <a th:href="@{/contact/add}">Edit</a>
</div>
<div th:if="${contact == null}">
    <a th:href="@{/contact/add}">Create</a>
</div>
<div th:replace="common/base :: jslinks"></div>
</body>
</html>