<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/base :: head"></head>
<body>
<nav th:replace="common/base :: navbar('')"></nav>

<h2>Summary</h2>
<div th:text="${summary.description}"></div>
<img th:src="${summary.image}" width="100" height="100"/>
<br/>

<h2>Contact</h2>
<div th:text="${contact.name}"></div>
<div th:text="${contact.email}"></div>

<h2>Education</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Major</th>
        <th>School Name</th>
        <th>Graduation Date</th>
    </tr>
    <tr th:each="education : ${educations}">
        <td th:text="${education.title}"></td>
        <td th:text="${education.major}"></td>
        <td th:text="${education.schoolName}"></td>
        <td th:text="${education.graduationDate}"></td>
    </tr>
</table>

<h2>Experience</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Employer Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Duty</th>
    </tr>
    <tr th:each="experience : ${experiences}">
        <td th:text="${experience.title}"></td>
        <td th:text="${experience.employerName}"></td>
        <td th:text="${experience.startDate}"></td>
        <td th:text="${experience.endDate}"></td>
        <td th:text="${experience.duty}"></td>
    </tr>
</table>

<h2>Skills</h2>
<table>
    <tr>
        <th>Title</th>
        <th>Rating</th>
    </tr>
    <tr th:each="skill : ${skills}">
        <td th:text="${skill.title}"></td>
        <td th:text="${skill.rating}"></td>
    </tr>
</table>
<div th:replace="common/base :: jslinks"></div>
</body>
</html>