<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <div th:replace="base :: bootstrapHead"></div>
</head>
<body>
<form action="#"
      th:action="@{/resume/process}"
      th:object="${resume}"
      method="post">
    <input type="hidden" th:field="*{id}"/>


    Name: <input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span><br/>

    Email: <input type="text" th:field="*{email}"/>
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br/>

    <br/>
    <input type="submit" value="Submit"/>
</form>
<div th:replace="base :: bootstrapBody"></div>
</body>
</html>