<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <div th:replace="base :: bootstrapHead"></div>
</head>
<body>

<div th:replace="base :: navlinks"></div>

<h2>Contact</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="resume : ${resumes}">

        <td th:text="${resume.name}"></td>
        <td th:text="${resume.email}"></td>
        <td>
            <a th:href="@{/resume/update/{id}(id=${resume.id})}">Update Contact</a>
        </td>
        <br/>
    </tr>
</table>
<div th:replace="base :: bootstrapBody"></div>
</body>
</html>