<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/base :: head"></head>
<body>
<nav th:replace="common/base :: navbar('skill')"></nav>
<form action="#"
      th:action="@{/skill/process}"
      th:object="${skill}"
      method="post">
    <input type="hidden" th:field="*{id}"/>


    Title: <input type="text" th:field="*{title}"/>
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span><br/>

    Rating<br/>
    Beginner <input type="radio" th:field="*{rating}" value="beginner"/>
    Intermediate <input type="radio" th:field="*{rating}" value="intermediate"/>
    Proficient <input type="radio" th:field="*{rating}" value="proficient"/><br/>

    <br/>
    <input type="submit" value="Submit"/>


</form>
<div th:replace="common/base :: jslinks"></div>
</body>
</html>